---
import Link from "@components/Link";
import ColorTheme from "@components/ColorTheme";
---

<header class="flex flex-row justify-between font-bold m-2">
  <div class="flex flex-row">
    <ColorTheme client:only />
    <Link href="/website/" label="Charlie Carolan" />
  </div>
  <div class="flex-row flex space-x-4">
    <Link href="https://github.com/tldrqwerty" label="Github" />
    <Link href="./blog" label="Blog" />
  </div>
</header>