---
// src/layouts/BaseLayout.astro
// 1. The content prop gives access to frontmatter data
import Layout from '@layouts/Layout.astro'
const { content } = Astro.props;
---

<Layout {...content}>
    <article>
        <section class="m-auto prose prose-slate lg:prose-xl dark:prose-invert prose-headings:text-primary-600 dark:prose-headings:text-primary-500">
            <slot />
        </section>
    </article>
</Layout>